In [68]:
import json
import requests
import pandas as pd
import pprint
import pyodbc
import datetime

url = 'https://data.gov.sg/api/action/datastore_search?resource_id=1b702208-44bf-4829-b620-4615ee19b57c&limit=5'
response = requests.get(url)
data = json.loads(response.text)

In [3]:
data['result']['records'][0].keys()

dict_keys(['town', 'flat_type', 'flat_model', 'floor_area_sqm', 'street_name', 'resale_price', 'month', 'remaining_lease', 'lease_commence_date', 'storey_range', '_id', 'block'])

In [43]:
result = data['result']['records']
result[0:2]

[{'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'Improved',
  'floor_area_sqm': '60',
  'street_name': 'ANG MO KIO AVE 4',
  'resale_price': '255000',
  'month': '2015-01',
  'remaining_lease': '70',
  'lease_commence_date': '1986',
  'storey_range': '07 TO 09',
  '_id': 1,
  'block': '174'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'New Generation',
  'floor_area_sqm': '68',
  'street_name': 'ANG MO KIO AVE 10',
  'resale_price': '275000',
  'month': '2015-01',
  'remaining_lease': '65',
  'lease_commence_date': '1981',
  'storey_range': '01 TO 03',
  '_id': 2,
  'block': '541'}]

In [66]:
town = []
flat_type = []
flat_model = []
floor_area_sqm = []
street_name = []
resale_price = []
month = []
remaining_lease = []
lease_commence_date = []
storey_range = []
_id = []
block = []

for index,row in enumerate(result):
    for keys,values in result[index].items():
        if keys=='town':
            town.append(values)
        elif keys=='flat_type':
            flat_type.append(values)
        elif keys=='flat_model':
            flat_model.append(values)
        elif keys=='floor_area_sqm':
            floor_area_sqm.append(values)
        elif keys=='street_name':
            street_name.append(values)
        elif keys=='resale_price':
            resale_price.append(values)
        elif keys=='month':
            month.append(values)
        elif keys=='remaining_lease':
            remaining_lease.append(values)
        elif keys=='lease_commence_date':
            lease_commence_date.append(values)
        elif keys=='storey_range':
            storey_range.append(values)
        elif keys=='_id':
            _id.append(values)
        elif keys=='block':
            block.append(values)
            
            
hdb = list(zip(town, flat_type, flat_model, floor_area_sqm, street_name, resale_price, month, remaining_lease, lease_commence_date, storey_range, _id, block))
pprint.pprint(hdb,compact=True)

[('ANG MO KIO', '3 ROOM', 'Improved', '60', 'ANG MO KIO AVE 4', '255000',
  '2015-01', '70', '1986', '07 TO 09', 1, '174'),
 ('ANG MO KIO', '3 ROOM', 'New Generation', '68', 'ANG MO KIO AVE 10', '275000',
  '2015-01', '65', '1981', '01 TO 03', 2, '541'),
 ('ANG MO KIO', '3 ROOM', 'New Generation', '69', 'ANG MO KIO AVE 4', '285000',
  '2015-01', '64', '1980', '01 TO 03', 3, '163'),
 ('ANG MO KIO', '3 ROOM', 'New Generation', '68', 'ANG MO KIO AVE 10', '290000',
  '2015-01', '63', '1979', '01 TO 03', 4, '446'),
 ('ANG MO KIO', '3 ROOM', 'New Generation', '68', 'ANG MO KIO AVE 10', '290000',
  '2015-01', '64', '1980', '07 TO 09', 5, '557')]

In [69]:
db_host = 'DESKTOP-2A5SVIV\SQLEXPRESS'
db_name = 'singapore'
db_user = 'DESKTOP-2A5SVIV\seinchyi'
db_password = ''

connection_string = 'DRIVER={ODBC Driver 17 for SQL Server}; SERVER=DESKTOP-2A5SVIV\SQLEXPRESS; DATABASE=singapore; trusted_Connection=yes'
db = pyodbc.connect(connection_string)
print("Connected")
cursor = db.cursor()

Connected

In [88]:
for value in hdb: 
    SQLCommand = ("INSERT INTO hdb VALUES {}".format(value))
    cursor.execute(SQLCommand)
db.commit()
#closing connection    
print("Data Successfully Inserted")   
db.close()

Data Successfully Inserted